/* banner color: #17a2b8 */
/* anchor color: #045092 */
/* profile picture border color: #cbcbcb */

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: cursive;
    font-weight: bolder;
    color: black;
    height: 200vh;
    width: 100vw;
}

img {
    max-height: 125px;
    max-width: 125px;
}

a {
    text-decoration: none;
    color: rgba(220, 220, 220, 0.9);
}

a:hover {
    color:rgba(255, 255, 255, 1) ;
}

.active {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(240, 240, 240, 1);
}

.active:hover {
    color: rgba(200, 200, 255, 1) ;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    padding: 15px;
    position: sticky;
}
.nav-title {
    flex: 1;
    color: rgb(240, 240, 240, 1);
    font-size: 3rem;
    font-weight: bolder;
}
.nav-links {
    display: flex;
    flex: 1;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}
.btn {
    font-family: cursive;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    color: rgb(240, 240, 240, 1);
    background-color:rgba(150, 150, 255, 1);
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    box-shadow: 1px 1px 1px 1px rgba(75, 75, 255, 1);
}
.btn:hover {
    background-color:rgba(75, 75, 255, 1);
    border:2px solid rgba(150, 150, 255, 1) ;
}

.card-container {
    background-color: white;
    border: solid 3px #cbcbcb;
    height:450px;
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2rem;
    overflow: hidden;
}

.user-card-top {
    background-color: #17a2b8;
    height: 100px;
    width: 805;
    margin-bottom: 35px;
}

.user-card-top img {
    border-radius: 50%; 
    height: 190px;
    width: 190px;
    background-color: white;
    border: solid 3px white;
    padding: 2px;
    margin-top: 40px;
    margin-left: 25px;
}

.user-card-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
}
.user-card-content h1 {
    font-size: 50px;
    font-weight: bolder
}

.user-card-content h3 {
    font-size: 30px;
    font-weight: bolder;
}

.user-card-content img {
    height: 25px;
    margin-right: 10px;
}

.user-card-content h1, 
.user-card-content h2,
.user-card-content h3,
.user-card-content p,
.user-card-content a {
    margin: 3px 0px;
}

.user-card-content a {
   color: #045092;
   font-size: 20px;
   padding: 0;
   text-align: center;
}

.user-card-content a img {
    height: 20px;
    margin-right: 10px;
    padding: 0;
}